{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Add New Trip</h1>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <h4 class="mb-3">Basic Information</h4>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Date <span class="text-danger">*</span></label>
                    {{ form.date }}
                </div>
                <div class="col-md-4 mb-3">
                    <label>Bilty Number <span class="text-danger">*</span></label>
                    {{ form.bilty_number }}
                </div>
                <div class="col-md-4 mb-3">
                    <label>Vehicle Number <span class="text-danger">*</span></label>
                    {{ form.vehicle_number }}
                </div>
            </div>

            <h4 class="mb-3">Driver Information</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Driver Name <span class="text-danger">*</span></label>
                    {{ form.driver_name }}
                </div>
                <div class="col-md-6 mb-3">
                    <label>Driver Mobile <span class="text-danger">*</span></label>
                    {{ form.driver_mobile }}
                </div>
            </div>

            <h4 class="mb-3">Trip Details</h4>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>From Location <span class="text-danger">*</span></label>
                    {{ form.from_location }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>To Location <span class="text-danger">*</span></label>
                    {{ form.to_location }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Commodity <span class="text-danger">*</span></label>
                    {{ form.commodity }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Weight (Tons) <span class="text-danger">*</span></label>
                    {{ form.weight }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Adda for Vehicle</label>
                    {{ form.adda_for_vehicle }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Adda for Load</label>
                    {{ form.adda_for_load }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Client Name <span class="text-danger">*</span></label>
                    {{ form.client_name }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Vendor</label>
                    {{ form.vendor }}
                </div>
            </div>

            <h4 class="mb-3">Financial Details <span class="text-danger">(All Required)</span></h4>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>AMCS Rate <span class="text-danger">*</span></label>
                    {{ form.amcs_rate }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Vehicle Rate <span class="text-danger">*</span></label>
                    {{ form.vehicle_rate }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Adda Commission <span class="text-danger">*</span></label>
                    {{ form.adda_commission }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Staff Commission <span class="text-danger">*</span></label>
                    {{ form.staff_commission }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Loading/Unloading <span class="text-danger">*</span></label>
                    {{ form.loading_unloading }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Receivable <span class="text-danger">*</span></label>
                    {{ form.receivable }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Payable <span class="text-danger">*</span></label>
                    {{ form.payable }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Advance <span class="text-danger">*</span></label>
                    {{ form.advance }}
                </div>
            </div>
            
            <h4 class="mb-3">Status Information</h4>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Fare Type</label>
                    {{ form.fare_type }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>POD Status</label>
                    {{ form.pod_status }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Bill Status</label>
                    {{ form.bill_status }}
                </div>
                <div class="col-md-3 mb-3">
                    <label>Payment Status</label>
                    {{ form.payment_status }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Payment Mode</label>
                    {{ form.payment_mode }}
                </div>
                <div class="col-md-6 mb-3">
                    <label>Cheque Details</label>
                    {{ form.cheque_details }}
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-lg">Save Trip</button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-lg">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}